<div class="logo">
  <img src="../../assets/logo.png" width="auto" height="90" [routerLink]="'/home'" />
</div>

<nav *ngIf="!isMobile">
  <li [routerLink]="'/home'" [routerLinkActive]="'active'">Home</li>
  <li [routerLink]="'/about'" [routerLinkActive]="'active'">About</li>
  <app-button [routerLink]="'/quote'">Get a quote</app-button>
</nav>

<button *ngIf="isMobile" class="hamburger hamburger--elastic" [ngClass]="{'is-active': menuIsOpen}" type="button"
  (click)="toggleMenu()">
  <span class="hamburger-box">
    <span class="hamburger-inner"></span>
  </span>
</button>

<div class="overlay" *ngIf="menuIsOpen">
  <li [routerLink]="'/home'">Home</li>
  <li [routerLink]="'/about'">About</li>
  <li [routerLink]="'/quote'">Get a quote</li>
</div>