<div class="row">
  <div class="section">
    <h2>Our Locations</h2>
    <p>Devon</p>
    <p>Cornwall</p>
  </div>

  <div class="section">
    <h2>Contact us</h2>
    <p>Mobile: 07724 858509</p>
    <p>Home: 01803 867058</p>
    <p>Email: smaldontreeservices@gmail.com</p>
  </div>

  <div class="section">
    <h2>Our Social Channels</h2>
    <p><a target="__blank" href="https://www.facebook.com/smaldontreegardenservices/" class="facebook">Facebook</a></p>
    <p><a target="__blank" href="https://www.instagram.com/smaldon_tree_garden_services/"
        class="instagram">Instagram</a></p>
  </div>
</div>

<div class="row attribution">
  <p>made with <img src="../../assets/heart.svg" width="14" height="auto" /> by <a target="__blank"
      href="https://passionfruitsoftware.io/"><img src="../../assets/passionfruit (dark).svg" width="90"
        height="auto" /></a></p>
</div>