:host {
  background: #EEE;
  padding: 1.2rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;

  .row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

    @media only screen and (max-width: 600px) {
      flex-flow: column nowrap;
      justify-content: flex-start;
    }

    &.attribution {
      vertical-align: middle;
      padding: 1.2rem;
    }

    ::ng-deep > .section {
      padding: 1.2rem;

      h2 {
        font-size: 1rem;
        margin-bottom: 1rem;
      }

      p {
        font-size: 0.8rem;
        margin-bottom: 0.7rem;

        a {
          text-decoration: none;
          font-weight: 700;

          &.facebook {
            color: #3B5998;
          }

          &.instagram {
            color: #F56040;
          }
        }
      }
    }
  }
}