<app-header></app-header>

<section>
  <div class="container">
    <h2>About us</h2>
    <h3>
      Smaldon Tree & Garden Services is a family run business based in Dartington, South Devon. We’re fully qualified &
      fully insured for all aspects of Arboriculture / Forestry and grounds / paddock maintenance. After studying at
      Bicton College for 3 years and having over 5 years experience in the industry, you can be sure you’re in safe
      hands.
      We pride ourselves on carrying out our work to the highest standard, to ensure complete customer satisfaction upon
      completion of all works.

      Due to the high risk industry that we’re working in, we understand how important it is to stay up to date with all
      current legislation, we also ensure that we hold any relevant qualification for any work we undertake.</h3>
  </div>
  <div class="container">
    <h2>Our services</h2>
    <h3>
      We offer many services, all aspects of tree work, grounds maintenance & paddock maintenance.

      We offer compact forestry with our alpine tractor to limit any ground damage in sensitive areas where larger
      machinery isn’t suitable.
      Our paddock maintenance all is carried out with compact machinery to insure limited ground damage, if any.</h3>

    <h4>Tree work</h4>
    <ul>
      <li>Reductions / thinning</li>
      <li>Crown raising / crown clean</li>
      <li>Felling / dismantling</li>
      <li>All aspects of Forestry</li>
      <li>Stump grinding</li>
      <li>Winching</li>
    </ul>

    <h4>Grounds maintenance</h4>
    <ul>
      <li>Hedge trimming / cutting</li>
      <li>Strimming</li>
      <li>Lawn mowing</li>
      <li>Large lawn mowing</li>
      <li>Contract grass cutting</li>
      <li>Turfing</li>
      <li>Landscaping</li>
      <li>Fencing</li>
    </ul>

    <h4>Compact Paddock maintenance</h4>
    <ul>
      <li>Flail mowing</li>
      <li>Rolling</li>
      <li>Harrowing</li>
      <li>Fertiliser spreading</li>
      <li>Rotavating</li>
      <li>Cultivating</li>
      <li>Seed preparation</li>
      <li>Seeding</li>
    </ul>
  </div>
</section>

<app-footer></app-footer>