:host {
  display: flex;
  padding: 24px;
  color: #FFF;
  height: 50px;
  background-color: #000;
  border-color: #000;
  cursor: pointer;
  outline: none;
  text-align: center;
  align-items: center;
  justify-content: center;
}