:host {
  display: flex;
  flex-flow: column wrap;
  flex: 1;

  section {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 1rem 4rem;

    @media only screen and (max-width: 600px) {
      padding: 1rem 2rem;
    }

    & > .container {
      width: 50vw;

      @media only screen and (max-width: 600px) {
        width: 90vw;
      }

      &:not(:first-of-type) {
        margin-top: 2rem;
      }

      &:last-of-type {
        padding-bottom: 4rem;
      }

      h2, h3 {
        text-align: left;
      }

      h2 {
        font-size: 2rem;
        font-weight: 500;
        margin-bottom: 2rem;
      }

      h3 {
        font-size: 1rem;
        font-weight: 300;
      }

      h4 {
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: 1rem;
        margin-top: 1rem;
      }

      ul {

        li {
          list-style: none;
          margin-left: 1.5rem;
          font-weight: 300;
        }
      }
    }

    & > form {
      display: flex;
      justify-content: flex-start;
      flex-flow: column wrap;
      width: 50vw;
      margin-bottom: 2rem;

      @media only screen and (max-width: 600px) {
        width: 90vw;
      }

      label {
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 1rem;
      }

      input, textarea {
        border: 1px solid #EEE;
        border-radius: 0.5rem;
        padding: 1rem;
        margin-bottom: 1rem;
        outline: none;
        resize: none;
      }

      textarea {
        min-height: 10rem;
      }

      button {
        display: flex;
        padding: 2rem;
        color: #FFF;
        background-color: #000;
        border-color: #000;
        cursor: pointer;
        outline: none;
        text-align: center;
        align-items: center;
        justify-content: center;

        &:disabled {
          opacity: 0.2;
        }
      }

      strong {
        margin-top: 24px;
        font-weight: 300;
      }
    }
  }

  app-footer {
    flex: 1;
  }
}