<app-header></app-header>

<section>
  <h2>A Devon based tree services company and all round graden service</h2>
  <h3>We offer tree services in the Devon area etc etc etc</h3>
</section>

<section>
  <div class="container">
    <div class="image" style="background-image: url('../../assets/work/garden-one-1.jpg')">
    </div>

    <div class="information">
      <div class="content">
        <h2>Garden One</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet ex vel lectus aliquet
          porttitor.
          Proin sollicitudin vitae purus at cursus</p>
      </div>

      <div class="action">
        <app-button
          (click)="goToProject('Garden One', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet ex vel lectus aliquet porttitor. Proin sollicitudin vitae purus at cursus. Nullam suscipit ultricies lectus in efficitur. Phasellus hendrerit enim lectus. Nunc vitae eleifend metus.

      Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus eu vehicula felis, vel congue purus. Integer ut elit feugiat sem semper mollis. Etiam malesuada eros turpis, id dignissim justo dictum et. Ut a nisl sed mauris luctus dapibus sed ut lacus. Phasellus sit amet neque tortor. Donec sit amet risus viverra, vulputate arcu et, pellentesque risus.', ['Dan', 'Drew'], '../../assets/work/garden-one-1.jpg', '../../assets/work/garden-one-2.jpg')">
          View project</app-button>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>