<app-header></app-header>

<section>
  <h2>Smaldon Tree & Garden Services is a family run business based in Dartington, South Devon.</h2>
  <h3>Arboriculture, Forestry and grounds / paddock maintenance.</h3>
</section>

<section>
  <div class="container">
    <div class="image" style="background-image: url('../../assets/totnes-landscaping/totnes-1.jpg')">
    </div>

    <div class="information">
      <div class="content">
        <h2>Totnes Landscaping</h2>
        <p>Our client in Totnes wanted a more manageable front garden, so we came in, removed all chippings and
          installed a new lawn with a new wooden boarder to keep the flower beds separate.</p>
      </div>

      <div class="action">
        <app-button
          (click)="goToProject('Totnes Landscaping', 'Our client in Totnes wanted a more manageable front garden, so we came in, removed all chippings and installed a new lawn with a new wooden boarder to keep the flower beds separate.', ['Dan', 'Drew'], '../../assets/totnes-landscaping/totnes-1.jpg', '../../assets/totnes-landscaping/totnes-2.jpg')">
          View project</app-button>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="image" style="background-image: url('../../assets/dartmoor-tree-work/dartmoor-1.jpg')">
    </div>

    <div class="information">
      <div class="content">
        <h2>Dartmoor Tree Work</h2>
        <p>Heavily decayed Beech trees removed on Dartmoor. We were called in to dismantle these Beech trees due to
          heavy decay at the bottom & the risk they posed to all visitors to the Christmas tree farm & the crop below.
          With a little bit of rigging we managed to avoid any damage to the young Christmas trees below, all timber was
          cut into manageable lengths and left on site & the wood chip was fired into the Christmas trees to act as a
          weed suppressant.
        </p>
      </div>

      <div class="action">
        <app-button
          (click)="goToProject('Dartmoor Tree Work', 'Heavily decayed Beech trees removed on Dartmoor. We were called in to dismantle these Beech trees due to heavy decay at the bottom & the risk they posed to all visitors to the Christmas tree farm & the crop below. With a little bit of rigging we managed to avoid any damage to the young Christmas trees below, all timber was cut into manageable lengths and left on site & the wood chip was fired into the Christmas trees to act as a weed suppressant.', ['Dan', 'Drew'], '../../assets/dartmoor-tree-work/dartmoor-1.jpg', '../../assets/dartmoor-tree-work/dartmoor-2.jpg')">
          View project</app-button>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>